<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<nav>
	<!-- <button id="view_orders">ORDERS</button> -->
  <button type="button" class="btn btn-primary">ORDER</button>
  <button type="button" class="btn btn-primary">MENU</button>
	<!-- <button id="view_menu">MENU</button> -->
<% if(!logged_in) { %>
	<button id="login_button" class="btn btn-primary">LOGIN</button>
<% } else { %>
	<div>
		<span id="username"></span>
		<button id="logout_button" class="btn btn-primary"></button>
	</div>
<% } %>
</nav>

</html>
