<nav>
	<button id="view_orders">orders</button>
	<button id="view_menu">menu</button>
<% if(!logged_in) { %>
	<button id="login_button">login</button>
<% } else { %>
	<div>
		<span id="username"></span>
		<button id="logout_button"></button>
	</div>
<% } %>
</nav>